.wrapper__sobreNosotros{
    min-height: calc(100vh - (75px + 214px));
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-areas: 
    "carta info";
    @include mq-mobile-S-L{
        grid-template-columns: auto;
        grid-template-rows: 30% auto;
        grid-template-areas: 
        "carta"
        "info";
    }
    @include mq-mobile-S-Tablet{
        grid-template-columns: auto;
        grid-template-areas: 
        "carta"
        "info";
    }
}

.sobreNosotros__carta{
    padding: 16px 32px 0 32px;
    background-color: $col-Principal;
    box-shadow: 3px 0px 5px -1px adjust-color($color: $col-Contrast, $alpha: 0.75);
    grid-area: carta;
    @include disFlex(column, center, normal);
    h2{
        font-family: "Poppins", sans-serif;
        color: white;
    }
    span{
        font-family: "Poppins", sans-serif;
        color: white;
        text-align: center;
    }
    img{
        width: 90%;
        margin-bottom: 32px;
        @include mq-mobile-S-Tablet{
            width: 40%;
        }
        @include mq-mobile-S-L{
            width: 30%;
        }
    }
    .hr-1{
        &:first-of-type{
            margin-bottom: 16px;
            width: 90%;
        }
        &:last-of-type{
            margin-top: 100px;
            margin-bottom: 32px;
            width: 200px;
        }
        @include mq-mobile-S-Tablet{
            margin: 0;
            &:first-of-type{
                margin-bottom: 20px;
            }
            &:last-of-type{
                margin-top: auto;
                margin-bottom: 20px;
                width: 200px;
            }
        }
        @include mq-mobile-S-Tablet{
            margin: 0;
            &:last-of-type{
                margin-top: 20px;
                margin-bottom: 20px;
                width: 200px;
            }
        }
    }
}

.sobreNosotros__info{
    grid-area: info;
    padding: 0 64px;
    padding-top: 50px;
    @include disFlex(column, center, normal);
    .hr-1{
        margin-top: 16px;
        margin-bottom: 32px;
    }
    p{
        margin-bottom: 100px;
    }
    @include mq-mobile-S-Tablet{
        padding: 25px 16px 0 16px;
    }
    h1{
        @include mq-mobile-S-Tablet{
            text-align: center;
        }
    }
}