.hr-1{
    height: 2px;
    width: 300px;
    background-color: $col-Contrast;
    border: none;
}
.hr-2{
    height: 2px;
    width: 500px;
    background-color: $col-Contrast;
    border: none;
}
.hr-3{
    height: 2px;
    width: 900px;
    background-color: $col-Contrast;
    border: none;
}
.hr-5{
    height: 2px;
    width: 100%;
    background-color: $col-Contrast;
    border: none;
}